@charset "utf-8";

.retry{display:none; width: 47px;bottom: 15%;left: calc(50% - 23.5px);}
.retry span{ font-size: 17px;  font-weight: 600;}
.retry img{width:40px;}
.confirm{display: none;width: 150px;bottom: 15%;left: calc(50% - 75px);font-size: 16px;background-color:#F6674C;height: 35px;line-height: 35px;text-align: center;font-weight:600;border-radius: 25px;}
.confirm span{color:#fff;}
.scratchpad{width: 90%;height: 28.4%;margin:0px auto;text-align: center;position: absolute;top: 40%;left: 5%;}
.scratchpad canvas{top:0px; left:0px;}
.scratchpad img{left:0; top:0;}
