<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="dailyRollingDebug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/log4j/gest-event-gather.debuglog.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C [%L] %m %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log4j/gest-event-gather.debuglog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="dailyRollingInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/log4j/gest-event-gather.infolog.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log4j/gest-event-gather.infolog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="dailyRollingError" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/log4j/gest-event-gather.errorlog.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log4j/gest-event-gather.errorlog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
    </appender>

    <logger name="com.gest" level="info" />
    <logger name="com.zaxxer.hikari" level="OFF" />
    <logger name="net.sf.json" level="OFF" />
    <logger name="org.springframework" level="OFF" />
    <logger name="org.springframework.boot" level="OFF" />

    <root level="INFO">
        <appender-ref ref="dailyRollingDebug" />
        <appender-ref ref="dailyRollingInfo" />
        <appender-ref ref="dailyRollingError" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
